

.round{
	border-radius: 50%;
}

.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.round_center{
	composes: center;
	composes: round;
}

.text_center{
	text-align: center;
}
